#bug-report-page-background
{
    width: 100%;
    height: 100%;
    background-color: #B7D768;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "DNF Bit Bit v2", serif;
    font-size: 0.5em;
}

#bug-report-page-container
{
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bug-report-list
{
    width: 100%;
    height: 100%;
}

#bug-report-list td {
    vertical-align: top; /* 셀 내용을 위쪽으로 정렬 */
    height: 50px; /* 셀의 높이를 50px로 설정 */
    line-height: 1.2; /* 줄 간격을 줄임 */
}
