.container {
  padding: 0; /* 패딩 제거 */
  margin: 0; /* 마진 제거 */
}

.chat-box {
  background-color: #779630; /* 채팅창 배경 */
  border-radius: 10px; /* 테두리 모서리를 둥글게 만듦 */
  padding: 10px; /* 내부 여백 추가 */
  margin: 0; /* 여백 제거 */
  box-sizing: border-box; /* 내부 여백과 테두리를 요소의 너비와 높이에 포함 */
}
  
  #chat-messages {
    color: white; /* 채팅 글자색 */
    height: 185px; /* 채팅창의 초기 높이 */
    max-height: 100%; /* 채팅창의 최대 높이 */
    overflow-y: auto; /* 스크롤바 자동 표시 */
  }
  
  /* 입력창 스타일 */
  #message-input {
    background-color: #5C7320; /* 입력창 배경색 */
    color: white; /* 글자 색상 */
    border: none; /* 테두리 없음 */
  }
  
  /* 전송 버튼 스타일 */
  #send-button {
    color: #5C7320; /* 버튼 글자색 */
    background-color: #D3E95A; /* 배경색 */
    /* border: none; 테두리 없음 */
  }
  
  /* 드롭다운 메뉴 스타일 */
  .dropdown-menu {
    background-color: #D3E95A; /* 배경색 지정 */
  }
  
  .dropdown-item {
    color: white; /* 글자색 지정 */
  }
  
  .dropdown-toggle {
    background-color: #D3E95A; /* 배경색 투명하게 */
    color: #5C7320; /* 글자색 지정 */
    border: none; /* 테두리 없음 */
  }
  
  /* 스크롤 막대 스타일 */
  #chat-messages::-webkit-scrollbar {
    width: 10px;
    border-radius: 12px;
  }
  
  /* 스크롤 바 스타일 */
  #chat-messages::-webkit-scrollbar-thumb {
    background-color: #D3E95A;
    border-radius: 12px;
  }
  
  /* 스크롤 바 배경 스타일 */
  #chat-messages::-webkit-scrollbar-track {
    background-color: #5C7320;
    border-radius: 12px;
  }
  