#game-settings-container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #779630;
    font-family: "DNF Bit Bit v2", serif;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

#game-settings-title-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

#game-settings-title {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 2.5em;
    color: white;
}

#game-settings-warning-message {
    display: none;
    color: #EAF79C;
    font-size: 1.5em;
}

#game-settings-option-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 150px;
}

.game-settings-option {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-items: center;
}

.game-settings-option-title {
    font-size: 1.5em;
    color: white;
}

.game-settings-option-item-container {
    display: flex;
    gap: 30px;
}

.game-settings-option-item {
    width: 10vw;
    aspect-ratio: 1 / 1;
    background-color: #A8CB60;
    border-radius: 20px;
    border: none;
}

.game-settings-option-item.selected {
    filter: brightness(50%);
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.3);
}

.game-settings-option-item.selected img {
    transform: scale(0.95);
}

.game-settings-option-item:hover {
    filter: brightness(50%);
}


.game-settings-option-item img {
    max-width: 80%;
    max-height: 60%;
}

#game-settings-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.game-settings-button {
    font-size: 1.5em;
    width: 10vw;
    aspect-ratio: 3 / 1;
    border: 5px solid #5C7320;
    border-radius: 10px;
}