#header-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-container img {
    height: 80%;
    margin: 0 20px;
}

#header-button-container {
    display: flex;
    gap: 20px;
}

#help-btn, #logout-btn {
    height: 80%;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#help-btn {
    position: relative;
}

#help-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url('../../assets/image/help.png');
    background-size: cover;
}

#guide-image {
    display: none;
    width: 540px;
    height: 220px;
    background-image: url('../../assets/image/guide.png');
    background-size: cover;
    position: absolute;
    top: 0;
    left: -540px;
    z-index: 999;
}

#help-btn:hover #guide-image {
    display: block;
}

#logout-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url('../../assets/image/door-close.png');
    background-size: cover;
}

#logout-btn:hover #logout-icon {
    background-image: url('../../assets/image/door-open.png'); /* 마우스 오버 시 이미지 */
}