#profile-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 4px solid #5C7320;
    box-sizing: border-box;
    background-color: #A8CB60;
    font-family: "DNF Bit Bit v2", serif;
    display: grid;
    padding: 30px 10px;
    grid-template-areas:
    'image nickname'
    'image button';
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#profile-image {
    grid-area: image;
    border-radius: 5px;
    background-color: #75787C;
    border: 4px solid white;
    margin-left: 10px;
}

#nickname {
    grid-area: nickname;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

#profile-btn {
    grid-area: button;
    font-family: "DNF Bit Bit v2", serif;
    font-size: 0.8em;
    border: 4px solid #5C7320;
    border-radius: 10px;
    margin: 0 10px;
}