#profile-modal-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 70%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-modal-container {
    width: 500px;
    height: 650px;
    background-color: #83A644;
    border-radius: 10px;
    display: grid;
    grid-template-areas:
    'title'
    'tab-container'
    'button-container';
    grid-template-rows: 1fr 8fr 1fr;
    gap: 20px;
    padding: 30px;
}

#profile-modal-title {
    grid-area: title;
}

#profile-modal-title img {
    height: 40px;
    width: auto;
}

#profile-modal-tab-container {
    grid-area: tab-container;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #38631D;
    padding: 10px;
}

#profile-modal-tab-button-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 아이템들을 세로축 중앙에 정렬 */
}

#profile-modal-tab-button-container button {
    flex: 1 1 33%; /* grow, shrink, basis */
    height: 100%;
    border-radius: 10px 10px 0 0;
    background-color: #82A540;
    border: none;
    font-family: "DNF Bit Bit v2", serif;
}

#profile-modal-tab-button-container button.hidden {
    visibility: hidden;
}

.profile-modal-tab-button.selected {
    color: #EAF79C;
}

.profile-modal-tab-button:not(.selected) {
    color: #3A611A;
    filter: brightness(70%);
}

#profile-modal-tab {
    flex: 10;
    border-radius: 0 0 10px 10px;
    background-color: #82A540;
    font-family: "DNF Bit Bit v2", serif;
    color: #DFEC9D;
    padding: 10px;
}

#history-tab-container, #blacklist-tab-container {
    overflow-y: auto;
    width: 100%;
    max-height: 360px;
    /* background-color: #779630; */
    padding: 10px;
    border-radius: 10px;
}

/* 스크롤 막대 스타일 */
#history-tab-container::-webkit-scrollbar, #blacklist-tab-container::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
}

/* 스크롤 바 스타일 */
#history-tab-container::-webkit-scrollbar-thumb, #blacklist-tab-container::-webkit-scrollbar-thumb {
    background-color: #5C7320;
    border-radius: 4px;
}

/* 스크롤 바 배경 스타일 */
#history-tab-container::-webkit-scrollbar-track, #blacklist-tab-container::-webkit-scrollbar-track {
    background-color: #779630;
    border-radius: 4px;
}

#history-tab-container table {
    width: 100%;
    border-collapse: collapse;
}

#history-tab-container th {
    border-bottom: 3px solid #D3E287;
}

#history-tab-container td:first-child {
    border-right: 3px solid #D3E287;
}

#history-tab-container th, #history-tab-container td {
    height: 40px;
    text-align: center;
    padding: 8px;
    vertical-align: middle;
}

#history-tab-container th {
    font-size: 1.1em;
}

#history-tab-container td {
    font-size: 0.9em;
}

#history-tab-container td img{
    height: 25px;
    width: auto;
}

.blacklist-cell {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin: 0 20px 0 20px;
}

.unblock-btn {
    border-radius: 10px;
    color: #5C7320;
    height: 35px;
    background-color: #A9CE50;
    border: 4px solid #588329;
    font-size: 0.8em;
}

#profile-modal-button-container {
    grid-area: button-container;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

#profile-modal-button-container button {
    border-radius: 10px;
    width: 25%;
    height: 70%;
    font-family: "DNF Bit Bit v2", serif;
    color: #5C7320;
    background-color: #A9CE50;
    border: 4px solid #588329;
}

/* ~~~~~~~~~info tab container below~~~~~~~~~~ */
#info-tab-container {
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    max-height: 360px;
    border-radius: 10px;
}

#profile-picture-container {
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#profile-picture-container img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 35%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid #ffffff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.24);
}

#nickname-container {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#winrate-container {
    height: 40%;
    width: 100%;
    overflow: auto;
    border-radius: 10px;
    background-color: #779630;
    gap: 10px;
    padding: 10px;
}

.nick-name-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
}

#nickname-input {
    display: flex;
    width: 50%;
    height: 60%;
    border-radius: 10px;
    color: #EAF79C;
    background-color: #31671B;
    border: 4px solid #588329;
    font-size: 1em;
    text-align: center;
}

#nickname-input::placeholder {
    color: #EAF79C;
}

#nickname-submit-btn {
    border-radius: 10px;
    color: #5C7320;
    height: 60%;
    background-color: #A9CE50;
    border: 4px solid #588329;
    font-size: 1em;
}

.win-rate-box {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 10px;
}

.type-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    gap: none;
    padding: none;
    border-radius: 10px;
}

.win-rate-gauge-box {
    display: flex;
    width: 60%;
    height: 80%;
    background-color: #B9D560;
    border-radius: 10px;
    padding: 5px;
}

.win-rate-gauge {
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.win-rate {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}