html, body {
    margin: 0;
    padding: 0;
    background-color: #B7D768;
}

#app {
    display: grid;
    place-items: center; /* 가로와 세로 중앙 정렬을 간단히 처리 */
    justify-content: center;
    height: 100vh; /* 부모 컨테이너의 높이를 뷰포트 높이로 설정 */
}

#page {
    position: absolute;
    z-index: 1000;
    display: none;
    width: 100%;
    height: 100%;
}

#header {
    width: 80vw;
    height: 10vh;
    display: flex;
    align-items: center;
}

#header img {
    height: 80%;
}

#components {
    display: grid;
    grid-template-areas:
    'leading top-trailing'
    'leading bottom-trailing';
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 80vw;
    height: 85vh;
    border: 8px solid #5C7320;
    border-radius: 30px;
}

#left-container {
    grid-area: leading;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #779630;
    justify-content: center;
}

#menu {
    flex: 3;
    overflow-y: auto;
}

#profile {
    flex: 1;
}

#main {
    grid-area: top-trailing;
}

#footer {
    grid-area: bottom-trailing;
}

.green-btn {
    background-color: #D3E95A;
    color: #5C7320;
    font-family: "DNF Bit Bit v2", serif;
}

.red-btn {
    background-color: #E9855A;
    color : white;
    font-family: "DNF Bit Bit v2", serif;
}