html, body {
    margin: 0;
    padding: 0;
    /*height: 100vh;*/
    background-color: #B7D768;
}

#app {
    display: grid;
    place-items: center; /* 가로와 세로 중앙 정렬을 간단히 처리 */
    height: 100vh; /* 부모 컨테이너의 높이를 뷰포트 높이로 설정 */
}

#page {
    width: 80vw;
}

#logo {
    height: 10vh;
    display: flex;
    align-items: center;
}

#logo img {
    height: 80%;
}

#components {
    display: grid;
    grid-template-areas:
    'leading top-trailing'
    'leading bottom-trailing';
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 80vw;
    height: 80vh;
    border: 8px solid #5C7320;
    border-radius: 30px;
}

#left-container {
    grid-area: leading;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 20px;
    background-color: #779630;
    justify-content: center;
}

#menu {
    flex: 2;
    overflow-y: auto;
}

#profile {
    flex: 1;
    background-color: white;
}

#main {
    grid-area: top-trailing;
}

#footer {
    grid-area: bottom-trailing;
    background-color: white;
}

.green-button {
    background-color: #D3E95A;
    color: #5C7320
}

.red-button {
    background-color: #E9855A;
    color : white;
}