<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Button</title>
</head>
<body>
    <button onclick="redirectToLogin()">Login</button>

    <script>
        function redirectToLogin() {
            window.location.href = 'https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-bc9787a254e43ef1954c8a025f32b725ff94e96d8161e0903705bafaabdac221&redirect_uri=https%3A%2F%2F13.209.222.162%3A8000%2F&response_type=code';
        }
    </script>
</body>
</html>
